# cp .env.example .env

# POSTGRES CONFIG
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_PORT=5432
# postgres://<user>:<password>@<host>:<port>/<database>
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

# AUTH CONFIG
BETTER_AUTH_SECRET= #random secret key, store in vault in prod
BETTER_AUTH_URL=http://localhost:3000 # Base URL of the app
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
# Google OAuth redirect URI: ${BETTER_AUTH_URL}/api/auth/callback/google
