# cp .env.example .env

# POSTGRES CONFIG
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# AUTH CONFIG
BETTER_AUTH_SECRET=your-better-auth-secret #random secret key, store in vault in prod
BETTER_AUTH_URL=http://localhost:3000 # Base URL of the app
# Optional in local development if Google sign-in is not used
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
# Google OAuth redirect URI: ${BETTER_AUTH_URL}/api/auth/callback/google
