node_modules
.next
.husky
coverage
.prettierignore
.stylelintignore
.eslintignore
stories
storybook-static
*.log
playwright-report
.nyc_output
test-results
junit.xml
docs/site/dist
docs/site/.astro
docs/site/public/storybook
docs/site/src/generated
pnpm-lock.yaml
